body {
	background-image: url(../images/work_table_2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 850px;
	user-select: none;
}

aside {
	float: left;
	width: 14em;
}

#newGameBtn, #pauseBtn {
	font-size: 18px;
	border: solid 1px;
	border-radius: 8px;
	background-color: #D5D5D5;
}

#newGameBtn:hover, #pauseBtn:hover {
	background-color: #99CCFF;
}

#controlPanel {
	display: inline-block;
}

#controlPanel div{
	margin: 5px 10px 0 10px;
	display: inline;
}

#movesRecords span, #timeRecords span{
	width: 3.6em;
	display: inline-block;
}

#movesRecords span:first-child, #timeRecords span:first-child{
	width: 0.9em;
	display: inline-block;
}

#movesCountField, #timeCountField{
	float: right;
}

#board, #pausedElement {
	float: left;
	margin: 10px;
	padding: 3px;
	border: solid #994C00 8px;
	border-radius: 22px;
	box-shadow: 5px 5px #D8A674;
	position: relative;
	background-color: #F2F2F2;
}

#pausedElement {
	text-align: center;
	font-size: 30px;
}

.screenField {
	font-size: 20px;
	margin: 10px;
	border: solid #994C00 5px;
	padding: 10px;
	border-radius: 15px;
	background-color: #F2F2F2;
}

.screenField h4 {
	margin: 0 0 20px 0;
}

.tile {
	border: solid black 1px;
	border-radius: 12px;
	box-shadow: 5px 5px #CC9933, inset 0 0 30px #FAD07A;
	text-align: center;
	font-family: bold;
	cursor: default;
	position: absolute;
	transition: all 130ms;
}

.nearTile {
	cursor: pointer;
}

.hideElement{
	display: none;
}